.btn {
    background-color: transparent;
    color: white;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.jumbotron {
    background-color: lightslategray;
    align-content: center;
}

h1 {
    background-color: lightslategray;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: relative;
}

#submit {
    color: white;
    background-color: #778899;
    align-content: center;
    position: relative;
}

#submit1 {
    color: white;
    background-color: #778899;
    align-content: center;
    position: relative;
}
div.jumbotron{
    background-image: url(./images/check.PNG)
}
.game{
    color:black;
}
span{
    font-weight:bold;
}